{% extends 'base.html.twig' %}

{% block title %}Pintorest : Home {% endblock %}

{% block body %}
{% set len = pins|length %}
<h1> {{ pluralize( len , "Pin") }} </h1>
<div class="container">
    {% for pin in pins %}
    <div>
        <a href="{{path('app_show_pin',{ id : pin.id})}}">
            <h4>{{ pin.title }}</h4>
        </a>
        <p> {{ pin.description }} </p>
    </div>
    {% else %}
    <div>
        <h5> Il y a pas de pin pour le moment . Veuilez Rajouter !!! </h5>
    </div>
    {% endfor %}
</div>
{% endblock %}