{% extends 'base.html.twig' %}

{% set title = "Pintorest : Nouveau" %}
{% set text = "Nouveau Pin" %}
{% set btn = "Create new Pin" %}

{% block title %} {{title}} {% endblock %}

{% block body %}
<div class="container">
    {{ include("pins/elements/_form.html.twig") }}
</div>
{% endblock %}