{% extends 'layouts/base.html.twig' %}

{% set title = "Pintorest : Nouveau" %}
{% set text = "Creation de Nouveau Pin" %}
{% set btn = "New Pin" %}

{% block title %} {{title}} {% endblock %}

{% block body %}
<div class="container">
    {{ include("pins/elements/_form.html.twig") }}
</div>
{% endblock %}