{% extends 'layouts/base.html.twig' %}

{% set title = "Pantorest : Edit #" ~ pin.id %}
{% set text = "Modifier cette Pin" %}
{% set btn = "Modifier cette Pin" %}

{% block title %} {{title}} {% endblock %}

{% block body %}
<div class="container">
    {{ include("pins/elements/_form.html.twig") }}
</div>
{% endblock %}