@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import 'shared/variables';

@import "~bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: block;
    min-height: 70vh;
    overflow: hidden;
}

.alert {
    display: block;
    text-align: center;
    align-items: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success{
        background-color: green;
        color: white;
    }

    &.alert-info {
        background-color: rgb(74, 166, 252);
        color: white;
    }

    &.alert-error {
        background-color: red;
        color: black;
    }

}

.right {
    justify-content: right !important;
}

.vich-image {
    .form-check{
        @extend .mt-4;
    }
    img{
        @extend .mb-2;
        @extend .rounded;
        @extend .img-thumbnail;
    }
}